#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
.dashboard-card {
  width: 100%;
  display: flex;
  justify-content: center;
}
body{
  overflow: hidden
}
.d-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.fa-search,
.fa-th,
.fa-use {
  font-size: 1.5rem !important;
  /* font-weight: normal/ !important; */
}
.bell {
  color: #fff !important;
  background-color: #2b83ea;
  border-radius: 10px;
}
.fa-use {
  border: 10px solid #2b83ea;
}

.d-card-me {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fa-check {
  background-color: rgb(21, 201, 57);
  border-radius: 50%;
  color: #fff;
  margin-left: 100px;
  margin-bottom: 20px;
}
.card-2 {
  border: 1px solid #333;
}
.card-3 {
  border-right: 1px solid;
}
.card-me {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
