.side-elements {
  width: 40%;
}
.side-1 {
  /* width: 42px;
  height: 42px; */
  /* right: 294px; */
  /* top: 214px; */
  background-color: #23304c;
  /* color: #ffffff; */

  width: 100%;
}
.side-1-1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 6px solid #23304c;
  align-items: flex-end;
  background-color: #23304c;
}
.side-1-1:hover {
  border: 10px solid #53b9ea;
  /* box-shadow: 0px 0px 5px #1f1c45; */
}
